.textChampion {
  font-size: clamp(1rem, 2vw, 3rem);
}
.imageChampion img {
  width: 5%;
  height: 5%;
}

@media screen and (max-width: 1050px) {
  .imageChampion img {
    width: 10%;
    height: 10%;
  }
}

@media screen and (max-width: 550px) {
  .imageChampion img {
    width: 20%;
    height: 20%;
  }
}
