@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USew8.ttf)
    format("truetype");
}
.lato {
  font-family: "Lato", sans-serif;
}
@media (prefers-color-scheme: dark) {
  .gameSection {
    background-color: #3d3c3a;
  }
  .lol__game {
    background-color: #3d3c3a;
  }
  h3 {
    color: #8a8a86;
  }
  wrong {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  html,
  body {
    background-color: #3d3c3a;
    color: white;
  }
  .main {
    background-color: #3d3c3a;
  }
  .imageWrong {
    filter: invert(1);
  }
  .bot__footer-container__image {
    filter: invert(1);
  }
  input[type="submit"] {
    color: #040404;
    background-color: #8a8a86;
  }
  input[type="text"] {
    color: white;
    background-color: #222222;
  }
  .card1 {
    background-color: #80807d;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f8f7;
}
.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f7;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
  body {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
}
.section__padding {
  padding: 4rem 6rem;
}
.section__margin {
  padding: 4rem 6rem;
}
@media screen and (max-width: 700px) {
  .section__margin {
    padding: 4rem;
  }
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 550px) {
  input[type="submit"] {
    font-size: 11px;
  }
  .section__margin {
    padding: 4rem 2rem;
  }
  .section__padding {
    padding: 4rem 2rem;
  }
}
@media screen and (max-height: 550px) {
  .lol__game {
    height: 80vh;
  }
}
@media screen and (max-height: 750px) {
  .lol__game {
    height: 60vh;
  }
}
@media screen and (max-height: 1100px) {
  .lol__game {
    height: 55vh;
  }
}
@media screen and (max-height: 1400px) {
  .lol__game {
    height: 65vh;
  }
}
@media screen and (min-height: 1401px) {
  .lol__game {
    height: 80vh;
  }
}
.lolgamecontainer {
  min-width: 50vw;
  display: inline-block;
}
.championIconContainer {
  justify-content: center;
  flex-grow: 1;
}
.gameStatus {
  font-size: clamp(4rem, 4vw, 5rem);
  text-align: center;
}
.gameStatusBorder {
  border-style: groove;
  background-color: #fbfbfb;
  border-radius: 3%;
}
.propText {
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
}
.counter {
  font-size: clamp(2rem, 2vw, 3rem);
  text-align: center;
}
.scoreCounter {
  font-size: clamp(2rem, 2vw, 3rem);
  text-align: center;
  margin-top: -1em;
}
.gameSection {
  justify-content: center;
  flex-grow: 1;
}

.lol__game {
  margin: 5vh;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.formContainer {
  display: inline-block;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.inputContainer {
  display: flex;
}
.unDisabledBorder {
  border: 2px solid #040404;
}
.disabledBorder {
  border: 2px solid #ef233c;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ef233c;
}

input:focus {
  border-radius: 2px;
  box-shadow: 0px 0px 5px #8a8a86;
  outline: none;
}
input[type="text"] {
  max-width: 1200px;

  width: 100%;
  padding-top: 1rem;
  background-size: cover;
}

input[type="submit"] {
  max-width: 800px;
  width: 20%;
  padding-top: 1rem;
}

input:disabled {
  color: #adb5bd;
  background-color: #f1f3f5;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 2px;
}
.cardContainer {
  z-index: 999;
  position: absolute;
  inset-inline: 0;
}
.comp {
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
