.hint img {
  width: min(50vw, 6em);
}

.hint {
  flex: 1;
  display: inline-block;
  font-size: 1rem;
  justify-content: center;
  flex-direction: column;
}
.containerHint {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.imageHint {
  gap: 1%;
}
.textHint {
  text-align: center;
  height: auto;
}

.wrongHint {
  align-content: center;
}
.propHead {
  margin-bottom: 0%;
}
