.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 3.2%;
  width: 43%;
  height: 76%;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 100px;
  right: 100px;
}
