@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.lato {
  font-family: "Lato", sans-serif;
}

@media (prefers-color-scheme: dark) {
  h3 {
    color: #8a8a86;
  }
  wrong {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  html,
  body {
    background-color: #3d3c3a;
    color: white;
  }
  .main {
    background-color: #3d3c3a;
  }

  .imageWrong {
    filter: invert(1);
  }
  .bot__footer-container__image {
    filter: invert(1);
  }
  input[type="submit"] {
    color: #040404;
    background-color: #8a8a86;
  }
  input[type="text"] {
    color: white;
    background-color: #222222;
  }
  .card1 {
    background-color: #80807d;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f8f7;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
  body {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
}

.section__padding {
  padding: 4rem 6rem;
}
.section__margin {
  padding: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__margin {
    padding: 4rem;
  }
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__margin {
    padding: 4rem 2rem;
  }
  .section__padding {
    padding: 4rem 2rem;
  }
}

@media screen and (max-height: 550px) {
  .lol__game {
    height: 80vh;
  }
}

@media screen and (max-height: 750px) {
  .lol__game {
    height: 60vh;
  }
}

@media screen and (max-height: 1100px) {
  .lol__game {
    height: 55vh;
  }
}

@media screen and (max-height: 1400px) {
  .lol__game {
    height: 65vh;
  }
}
@media screen and (min-height: 1401px) {
  .lol__game {
    height: 80vh;
  }
}
.lol__game {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  background-color: #3d3c3a;
}
.game-target {
  position: relative;
  height: 3rem;
  overflow-y: auto;
}
.no-overflow {
  overflow: hidden;
  position: flex;
}
.comp {
  width: 100%;
  height: 50%;
  position: relative;
}
.form-containerChampion {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.formcontentmove {
  min-width: 50vw;
}
.counter {
  font-size: clamp(2rem, 2vw, 3rem);
}

.lol__game-container {
  text-align: center;
  flex: 1;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.formparam {
  height: 100%;
}
.lol__game-container-div {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: flex;
  display: flex;
  width: auto;
}
footer {
  margin-top: 6rem;
}
.bot__ {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bot__footer-container {
  width: 100%;
  text-align: center;
}

.bot__footer-container__image {
  justify-items: center;
}
.bot__footer-container__image img {
  align-items: center;
  width: 300px;
  height: 114.5px;
}

@media screen and (min-width: 1051px) {
  .bot__footer-container__image img {
    width: 336.8px;
    height: 112px;
  }
}

@media screen and (max-width: 1050px) {
  .bot__footer-container__image img {
    width: 240.8px;
    height: 80px;
  }
}

@media screen and (max-width: 700px) {
  .bot__footer {
  }
}

@media screen and (max-width: 550px) {
  .bot__footer {
  }
  .bot__footer-container__image img {
    width: 156px;
    height: 59.28px;
  }
}
input[type="text"] {
  max-width: 1200px;
  height: 30%;
  width: 80%;
  padding-top: 1rem;
  background-size: cover;
}
input[type="submit"] {
  max-width: 800px;
  height: 20%;
  width: 40%;
}
.lol_game-container-div_inlinetogether {
  display: flex;
  height: auto;
  width: 100%;
}
