.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.top__header-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top__header-container__image {
  margin-right: 2rem;
}
.top__header-container__image img {
  width: 360px;
  height: 136.8px;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 700px) {
  .top__header {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .top__header {
    padding: 2rem;
  }
  .top__header-container__image img {
    width: 156px;
    height: 59.28px;
  }
}
