@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.lato {
  font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
    font-family: "Open Sans", sans-serif;
  }

.heading5 {
    margin:0%;
    font-size: 15pt;
}

.contactInfo {
    text-align:center;
}

.input100 {
    width: 80%;
    padding: 60px 20px;
    margin: 8px 0;
    height: 100%;
}

button {
    font-family: 'Open Sans'; font-size: 8px;
}

input[type=submit] {
    font-family: 'Open Sans'; font-size: 12px;
}