@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
    font-family: "Open Sans", sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  .lato {
    font-family: 'Lato', sans-serif;
  }

  /* Sets the website's font and size */
.main {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 20pt;
    background-color: #FAFAFA;
    text-align: center; 
    min-height: 100vh
}

footer {
    text-align: center;
}
.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.images {
    text-align: center;
}

.game {
    text-align: center;
}

/* Sets the parameters and font settings for the form */
input[type=text] {
    width: 35%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    padding: 16px 20px;
    font-family: 'Open Sans'; font-size: 12px;
}

.how-to-h {
    margin-top: 1%;
    margin-bottom: 0%;
}
.how-to {
    margin-top:1%;
    text-align: left;
    font-size: 14pt;
    font-family: 'Lato';
}

.popup-i{
margin-top:0;
}
.found-bug {
    margin:0%;
}

.contact-p {
    margin-top:1%;
    text-align: center;
    font-size: 14pt;
    font-family: 'Lato';
}