@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
    font-family: "Open Sans", sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  .lato {
    font-family: 'Lato', sans-serif;
  }

  /* Sets the website's font and size */
.main {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    background-color: #FAFAFA;
    text-align: center; 
    min-height: 100vh
}
.opener {
    font-size: 3.75vw;
}
footer {
    text-align: center;
}
.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.images {
    text-align: center;
}

.game {
    text-align: center;
}

/* Sets the parameters and font settings for the form */
input[type=text] {
    width: 46%;
    height:7.8vh;
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    height: 7.8vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans'; 
    font-size: 1.2vw;
}

.how-to-h {
    font-size: 1.7vw;
    margin-top: 1%;
    margin-bottom: 0%;
}
.how-to {
    margin-top:1%;
    text-align: left;
    font-size: 1.2vw;
    font-family: 'Lato';
}
/* original width height w:312 height: 119.6  this is the game screen logo*/
.popup-i{
margin:0;
}

.found-bug {
    font-size: 1.7vw;
    margin:0%;
}

