.lato {
  font-family: "Lato", sans-serif;
}

.panel-container[data-slide="4"] {
  animation: move-up 0.8s 1;
}

@keyframes move-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.panel-container[data-slide="5"] {
  animation: move-down 0.8s 1;
}
@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.panel {
  background-color: #ffffff;
  height: 100%;
}
.panel-container {
  flex-grow: 1;
  text-align: center;
  min-height: 100vh;
  flex-flow: column;
  overflow: hidden;
}

.seperate {
  margin-bottom: 10%;
}

.panel-container .contact-main {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 1 1 auto;
}

.input-contact {
  resize: none;
  max-width: 1200px;
  width: 80%;
  background-size: cover;
}
.panel-container .close-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
  padding-right: 0.8rem;
}
.close-button {
  display: block;
  font-family: Lato;
  border: 0.1em solid #2b2d42;
  padding: 0.3rem 0.6rem;
  background-color: #ffffff;
  font-size: 1.5em;
}

h2 {
  font-family: lato;
  font-size: clamp(2em, 2vw, 3em);
}

h1 {
  font-size: clamp(2.5em, 2.5vw, 3.5em);
}
.send-button {
  font-family: lato;
}

.textarea {
  max-width: 1200px;
  height: 100%;
}

.contact-main {
  margin-left: 20%;
  margin-right: 20%;
}

/* Media Queries to deal with mobile/tablet */
@media screen and (min-width: 1300px) {
  .panel {
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .panel {
    font-size: 1.2em;
  }
}

@media screen and (min-height: 500px) {
  .panel {
    font-size: 1.35em;
  }
}
@media screen and (min-height: 800px) {
  .panel {
    font-size: 1.8em;
  }
}

@media screen and (min-height: 1100px) {
  .panel {
    font-size: 2.4em;
  }
}

@media screen and (min-height: 1300px) {
  .panel {
    font-size: 2.7em;
  }
}
/* End media queries for mobile/tablets */

@media (prefers-color-scheme: dark) {
  .panel-container {
    background-color: #3d3c3a;
    color: #b8babf;
  }
  .color-change {
    color: #b8babf;
  }
  .color-change-main {
    color: rgba(248, 248, 248, 0.888);
  }
  .send-button {
    color: #000;
    background-color: #d2d4d7;
  }
  .input-contact {
    color: white;
    background-color: #222220;
  }
  .close-button {
    color: #000;
    background-color: #d2d4d7;
  }
}
