body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

#title {
  width: 100vmin;
  animation: fade-in-out 4000ms;
  animation-fill-mode: forwards;
}

@keyframes fade-in-out {
  from {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}