.container {
animation: transitionIn 4s;

}




@keyframes transitionIn {
  from {
opacity: 0;
transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes transitionOut {
  from {
opacity: 1;
transform: rotateX(-10deg);
  }

  to {
    opacity: 0;
    transform: rotateX(0deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
